$font-family: 'Lato', sans-serif;
$font-family-mono: "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
$font-family-linenumber: Helvetica;

$primary-color: #4A678C;
$secondary-color: #5E83B2;

$divider-color: #f1f1f1;
$divider-sec-color: #d1d1d1;

$info-color: #38aecf;
$error-color: #d9534f;

$mono-line-height: 1.5em;
$mono-font-size: .8em;
$linenumber-font-size: .9em;
