@import 'config';

html { height: 100%; }
body { overflow: hidden; margin: 0; padding: 0; 
  font-family: $font-family; }      

textarea { resize: none; }

.editor-wrapper {
  overflow: auto;
}

#input { display: none; }
#output { display: none; }

.toolbar {
  width: 100%; height: 40px;
  font-size: 13px;
  line-height: 40px;
  background-color: $primary-color;
  overflow: auto;
  color: white;
}

.toolbar .btn {
  background-color: $secondary-color;
  padding: 0 10px; margin-right: 2px;
  float: left;
  cursor: pointer;
}

.CodeMirror {
  height: auto !important;
  line-height: $mono-line-height;
  font-size: $mono-font-size;
  font-family: $font-family-mono; 
}

.CodeMirror-gutters {
  background-color: $divider-color;
}

.CodeMirror-linenumber {
  font-family: $font-family-linenumber;
  font-size: $linenumber-font-size;
  color: #CCC;
}

.editor {
  float: left;
  width: 50%; height: 70%;
  position: relative;
  box-sizing: border-box;
  border: 6px solid $divider-color;
}

.caption {
  position: absolute;
  top: 10px; right: 10px;
  z-index: 10;
  font-size: 11px;
  border: 1px solid $divider-color;
  padding: 3px;
  opacity: 0.8;
  border-radius: 3px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

#console-output, #console-input {
  font-family: $font-family-mono; 
  font-size: $mono-font-size;
  width: 100%;
  line-height: $mono-line-height;
}

#console-output {
  border-top: 1px solid $divider-sec-color;
  position: relative;
  height: 30%;
  overflow-y: scroll;
  padding: 5px 0;
  box-sizing: border-box;
}

.console {
  border-top: 1px solid $divider-sec-color;
  overflow: auto;
  width: 100%;
}

.console i {
  padding: 5px;
  width: 1%;
  float: left;
  color: $info-color;
}

#console-input {
  width: 98%;
  padding: 5px 0;
  border: none;
  height: 30px;
}

#console-input:focus { outline: none; }

#console-output i {
  padding: 3px 10px 0 0;
  float: left;
  color: #aaa;
}

#console-output p {
  padding: 0; margin: 0;
}

#console-output .line {
  height: $mono-line-height;
  padding: 0 5px;
}

#console-output .line.error p {
  color: $error-color;
}

.compiler-error-marker {
  font-size: $mono-font-size ;
  line-height: $mono-line-height;
  color: $error-color;
}

.compiler-error-tooltip {
  background-color: infobackground;
  border: 1px solid $divider-color;
  border-radius: 2px;
  color: infotext;
  /*font-family: monospace;*/
  font-size: .85em;
  overflow: hidden;
  padding: 2px 5px;
  position: fixed;
  white-space: pre;
  white-space: pre-wrap;
  z-index: 100;
  max-width: 600px;
  opacity: 0;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.compiler-error-mark {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
  background-position: left bottom;
  background-repeat: repeat-x;
}
