html { height: 100%; }
body { overflow: hidden; margin: 0; padding: 0; 
  font-family: $font-family; }      

textarea { resize: none; }

a {
  color: $link-color;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

i { color: $icon-color; }

.editor-wrapper {
  overflow: auto;
}

#input { display: none; }
#output { display: none; }

.toolbar {
  position: relative; z-index: 14;
  width: 100%; height: $toolbar-height;
  font-size: 13px;
  line-height: 13px;
  background-color: $primary-color;
  overflow: hidden;
  color: white;

  i { color: white; }
}

.toolbar .logo {
  height: $toolbar-height;
  width: 105px;
  float: right;
  font-size: 13pt;
  line-height: $toolbar-height; 
}

.toolbar .btn {
  background-color: $secondary-color;
  padding: 14px 10px; margin-right: 2px;
  float: left;
  cursor: pointer;
}

.toolbar .btn-share {
  float: right;
}

.editor {
  float: left;
  width: 50%; height: 100%;
  position: relative;
  box-sizing: border-box;
  border: 6px solid $divider-color;
}

.caption {
  position: absolute;
  top: 10px; right: 10px;
  z-index: 10;
  font-size: 11px;
  border: 1px solid $divider-color;
  padding: 3px;
  opacity: 0.8;
  border-radius: 3px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}
