.share-view {
  position: absolute;
  top: $toolbar-height;
  right: 0px;
  z-index: 11;
  width: 230px;
  height: auto;
  padding: 10px;
  font-size: 8pt;
  background: $secondary-color;
  color: white;

  @include box-shadow(0px, 2px, 30px, 0px, rgba(0,0,0,0.4));
  @include fade-in-out(0.1s);

}

.share-view p { 
  margin: 0; 
  margin-bottom: 5px; 
}

.share-view input { 
  font-size: 1em;
  width: 100%; 
  margin-bottom: 5px; 
  line-height: 14pt; 
  padding: 3px 7px;
  border: 1px solid $primary-color;
  background: #f6f6f6;
  color: #626262;
  
  @include box-shadow(0, 1px, 2px, 0px, $primary-color, inset);
}

.share-view-tweet {
  margin: 10px 0;

  i { color: white; padding-right: 2px; vertical-align: middle; }
  a { font-size: 10pt; vertical-align: middle; color:white; }
}
